    {% extends 'main_page.html' %}
    {% block radio %}
    <div style="text-align: center">
        {% for post in posts %}
        <div style="display: inline-block; margin-top: 30px; padding: 30px">
            <h3 style="text-align: center; color: aliceblue;">
                {{ post.title }}
            </h3>
                {% if post.image %}
                <div>
                    <img src="{{ post.image.url }}" alt="" width="500px" height="500px" style="display: block; margin: 0 auto">
                </div>
                {% endif %}
            <div style="text-align: center; color: aliceblue">
                {{ post.text }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div style="margin-bottom: 30px; text-align: center">
        <div style="display: inline-block; padding-right: 130px; padding-left: 130px">
            <audio controls>
                <source src="/media/living-life.mp3">
            </audio>
        </div>
        <div style="padding-right: 130px; display: inline-block; padding-left: 130px">
            <audio controls>
                <source src="/media/vecnyi-dvigatel.mp3">
            </audio>
        </div>
        <div style="padding-right: 130px; display: inline-block; padding-left: 130px">
            <audio controls>
                <source src="/media/Joji-Ew.mp3">
            </audio>
        </div>
    </div>
{% endblock %}
