    {% extends 'main_page.html' %}
    {% block team %}
    <div class=layer1 style="text-align: center; position: relative; z-index: 1">
        <h1 style="color: #faebd7">
            Команда гениев
        </h1>
            {% for tm in team %}
                <div style="display: inline-block; padding: 30px">
                    {% if tm.image %}
                        <div style="text-align: center">
                            <img src="{{ tm.image.url }}" alt="" width="300px" height="300px" style="border-radius: 150px">
                        </div>
                    {% endif %}
                    <h3 style=" color: aliceblue; text-align: center">
                        {{ tm.name }}
                    </h3>
                    <div style="color: antiquewhite; text-align: center">
                        {{ tm.role }}
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}
