{% extends 'main_page.html' %}
{% block login %}

<div >
  <h1>Login</h1>
  <form method="POST" action="/auth/login/">
    {% csrf_token %}
      <label for="username">Имя пользователя</label>
      <input type="text" name="username" id="username">
      <label for="password">Пароль</label>
      <input type="password" name="password" id="password">
      {% if login_error %}
      <label class="error">{{ login_error }}</label>
      {% endif %}
      <input class="button" type="submit" value="Войти">
  </form>
  <p >Don't have an account? <a href="/auth/registration/">Create an account</a>.</p>
</div>

{% endblock %}
